ENV=production
DEBUG=1

# Project name from terraform
PROJECT_NAME=
DOCKER_IMAGE_BACKEND=
DOCKER_IMAGE_FRONTEND=

# Instance IP address
HOST_PUBLIC_IP=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
#AWS_S3_BUCKET_NAME=
#AWS_INPUT_QUEUE_NAME=
#AWS_DEFAULT_REGION=ap-southeast-1

#AWS_S3_LINK_EXPIRATION_SECS=2592000

API_PORT=8443
FRONTEND_PORT=5986
ENGINE_PORT=8444

DEBUG=1
# ALLOWED_HOSTS=0.0.0.0 10.156.79.147
ALLOWED_HOSTS="0.0.0.0 ${HOST_PUBLIC_IP}"

SECRET_KEY='5(ydl^gqndr@^v4km0ib)sl%#65$r$r2i22fqt(a^^=qrslsyy'

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

POSTGRES_HOST=database
POSTGRES_DB=project_db
POSTGRES_USER=project_db_user
POSTGRES_PASSWORD=project_db_user_password

DJANGO_SUPERUSER_USERNAME=django_admin
DJANGO_SUPERUSER_PASSWORD=django_admin_password
DJANGO_SUPERUSER_EMAIL=django_admin@mail.com

DJANGO_USERNAME=test
DJANGO_PASSWORD=cairo12345

# API_URL=http://10.156.79.147:5986/api/v1
API_URL="http://${HOST_PUBLIC_IP}:${FRONTEND_PORT}/api/v1"
